<div class="account-deleted-container">
  <div class="account-deleted-card">
    <div class="icon-container">
      <mat-icon class="deleted-icon">account_circle</mat-icon>
    </div>
    
    <h1>Account Deleted</h1>
    
    <p class="message">
      Your account has been successfully deleted. We're sorry to see you go!
    </p>
    
    <div class="details">
      <p>All your personal data has been permanently removed from our systems.</p>
      <p>If you change your mind, you can always create a new account.</p>
    </div>
    
    <div class="actions">
      <button mat-raised-button color="primary" (click)="goToHome()" class="home-button">
        <mat-icon>home</mat-icon>
        Go to Home
      </button>
    </div>
    
    <div class="footer">
      <p>Thank you for using our service!</p>
      <p class="auto-redirect">You will be automatically redirected to the home page in 10 seconds.</p>
    </div>
  </div>
</div>

